.cell {
    width: 55px;
    height: 55px;
    margin: 2px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    background-color:rgb(4, 30, 118);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  .disabled{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    margin: 3px;
    display: inline-block;
    background-color:rgb(77, 76, 76);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  .cell.selected{
    background-color: yellow;
  }
  .cell.won{
    background-color: #aa146e;
  }
.choosen{
  width: 55px;
    height: 55px;
    margin: 2px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    background-color:rgb(12, 18, 37);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}
@media (max-height: 720px) {
  .cell {
    width: 50px;
    height: 50px;
  }
}
