body{
  background-color: rgb(226, 252, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid{
  height: 77vh;
  background-color: rgb(183, 182, 187);;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px;
}
.box{
  display: flex;
  color: white;
  background-color: rgb(183, 182, 187);
  width: 1640px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  justify-content: space-evenly;
  position: relative;
}
.restart-btn{
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  border: 5px solid rgb(0, 0, 81);
  border-radius: 5px;
  position: absolute;
  top: 70vh;
  right: 35px;
}
.instruction{
  border: 4px solid white;
  background-color: blue;
  width: 400px;
  height: 70vh;
  font-size: 16px;
  border-radius: 10px;
}
.clicked{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  width: 180px;
  color: black;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid blue;
}
.blockone{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}
.boxes{
  display: flex;
  justify-content: space-between;
}
h1{
  font-weight: 700;
}